.container-formulario-tarea{
    width: 80%;
    min-height: 100px;
    /* background-color: rgb(100, 57, 0); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* align-self: flex-start; */
}

.input-tarea{
    width: 95%;
    min-height: 50px;
    outline: none;
    border: 1px solid black;
    padding-left: 3%;

}
.input-tarea::placeholder{
    color: rgb(92, 92, 92);
    white-space:wrap;
}

.boton-formulario-tarea{
    min-height: 50px;
    outline: none;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}