.container-tarea{
    background-color: rgb(255, 94, 94);
    min-height: 100px;
    width: 80%;
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-tarea div {
    padding: 20px;
}

.texto-tarea{
    width: 90%;
    text-align: justify;
}

.container-icono-tarea{
    height: 100%;
    width: 10%;
}
.icono-tarea{
    height: 50%;
    width: 100%;
}

.estaCompletada{
    background-color: rgb(115, 255, 59);
}